/* Referenced from >>>>> https://tailwindcss.com/docs/guides/vite*/

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body.kcBodyClass {
    background: #ffffff;
}

html {
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -moz-tab-size: 4;
    tab-size: 4;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
    font-feature-settings: normal;
    font-variation-settings: normal
}


@layer base {
  :root {
    --background: 0 0% 100%; /* #FFFFFF */
    --foreground: 240 10% 4%; /* #09090B */
    --card: 0 0% 100%; /* #FFFFFF */
    --card-foreground: 240 10% 4%; /* #09090B */
    --popover: 0 0% 100%; /* #FFFFFF */
    --popover-foreground: 240 10% 4%; /* #09090B */
    --primary: 240 10% 4%; /* #09090B */
    --primary-foreground: 0 0% 100%; /* #FFFFFF */
    --secondary: 0 0% 96%; /* #F5F5F5 */
    --secondary-foreground: 0 0% 9%; /* #171717 */
    --muted: 0 0% 96%; /* #F5F5F5 */
    --muted-foreground: 0 0% 49%; /* #7D7D7D */
    --accent: 0 0% 96%; /* #F5F5F5 */
    --accent-foreground: 0 0% 9%; /* #171717 */
    --destructive: 0 84.2% 60.2%; /* #EF4444 */
    --destructive-foreground: 0 0% 100%; /* #FFFFFF */
    --border: 0 0% 0% / 0.09; /* #00000017 */
    --input: 0 0% 89.8%; /* #E5E5E5 */
    --ring: 240 10% 4%; /* #09090B */
    --chart-1: 12 76% 61%; /* #E65C41 */
    --chart-2: 173 58% 39%; /* #2A9D8F */
    --chart-3: 197 37% 24%; /* #264653 */
    --chart-4: 43 74% 66%; /* #E9C46A */
    --chart-5: 27 87% 67%; /* #F4A261 */

    --muted-foreground-subtle: 240 5% 34%; /* #52525B */
  }

  .dark {
    --background: 240 10% 4%; /* #09090B */
    --foreground: 0 0% 100%; /* #FFFFFF */
    --card: 240 10% 4%; /* #09090B */
    --card-foreground: 0 0% 100%; /* #FFFFFF */
    --popover: 240 10% 4%; /* #09090B */
    --popover-foreground: 0 0% 100%; /* #FFFFFF */
    --primary: 0 0% 100%; /* #FFFFFF */
    --primary-foreground: 240 10% 4%; /* #09090B */
    --secondary: 240 10% 10%; /* #19191C */
    --secondary-foreground: 0 0% 100%; /* #FFFFFF */
    --muted: 240 10% 10%; /* #19191C */
    --muted-foreground: 240 5% 65%; /* #A1A1A1 */
    --accent: 240 10% 10%; /* #19191C */
    --accent-foreground: 0 0% 100%; /* #FFFFFF */
    --destructive: 0 84.2% 60.2%; /* #EF4444 */
    --destructive-foreground: 0 0% 100%; /* #FFFFFF */
    --border: 0 0% 100% / 0.1; /* #FFFFFF1A */
    --input: 240 10% 10%; /* #19191C */
    --ring: 0 0% 100%; /* #FFFFFF */
    --chart-1: 12 76% 61%; /* #E65C41 */
    --chart-2: 173 58% 39%; /* #2A9D8F */
    --chart-3: 197 37% 24%; /* #264653 */
    --chart-4: 43 74% 66%; /* #E9C46A */
    --chart-5: 27 87% 67%; /* #F4A261 */
  }
}

@layer base {
  .kcFormCardClass {
    @apply border-border;
  }

  .kcInputClass {
    @apply focus:border;
  }
  .pf-c-button.pf-m-primary {
    @apply bg-primary text-primary-foreground;
  }
  .pf-c-button.pf-m-link {
    @apply text-primary hover:text-primary/80;
  }
  a.text-primary:hover {
    @apply text-primary/80;
  }

  .otp-input {
    @apply w-12 h-14 border-2 border-secondary rounded-lg m-0.5 text-center text-3xl cursor-pointer;
  }
  .otp-input:focus {
    @apply border-primary rounded-lg outline-none;
  }
}

.separate {
  display: flex;
  align-items: center;
  text-align: center;
}

.separate:after,
.separate:before {
  content: "";
  flex: 1 1 0%;
  border-bottom-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(229 231 235 / var(--tw-border-opacity))
}

.separate:not(:empty):after {
  margin-left: .5rem
}

.separate:not(:empty):before {
  margin-right: .5rem
}

#kc-info-wrapper {
  background: #ffffff;
  padding: 15px 0 0 0;
}

/* hidden */
#cc-main .cm.cm--box {
  transform: scale(.96) !important;
}

/* visible */
.show--consent #cc-main .cc--anim .cm.cm--box {
  transform: scale(1) !important;
}

.kcLocaleListClass {
  max-height: 150px;
  overflow-y: scroll;
  border-radius: 0.5rem;
  scrollbar-width: auto;
  scrollbar-color: gray transparent;
}
